<div class="container container-fluid teste">

    <section class="pagina-padrao fundo-branco mb-3 mb-3 py-4 px-5">
        <article>
            <h2>Sobre a Adopet</h2>

            <p>O Adopet é um site em que ONGs e Protetores de todo o Brasil podem divulgar cães e gatos para adoção. O projeto existia informalmente há alguns anos, porém em 2020 nos registramos oficialmente como uma Associação! Isso nos permite fazer grandes parcerias com empresas e estamos bem animados sobre o que vem por aí!</p>



            <h3>Como funciona</h3>

            <p>
                <ol>
                    <li>
                        ONGs ou protetores fazem o seu cadastro gratuitamente e no mesmo instante já podem publicar os animais com detalhes sobre suas características e personalidade;
                    </li>

                    <li>
                        Pessoas que estão interessadas em ter um novo bichinho vão entrar no site e procurar um que tenha a ver com o perfil dele;
                    </li>
                
                    <li>
                        Quando acharem aquele especial, elas clicam em “quero adotar” e pronto, é só combinar com a ONG como buscar o mais novo membro da família!
                    </li>

                </ol>
        

            <h3>Quer divulgar um cão ou gato para adoção?</h3>

            <p>
                Se você está dando lar temporário ou quer divulgar um animal para adoção, faça seu cadastro no site e, em seguida, publique o bichinho. Coloque o máximo de características e fotos sobre ele: assim você aumenta as chances de encontrar alguém que realmente combine com seu perfil, ajudando a evitar decepção e futuros abandonos. Pelo mesmo motivo, seja sincero quanto ao estado de saúde e características do animal. 

                <br>
                
                Importante: este é um site de adoção e a venda de animais é proibida, ok? 	Usuários que tentarem vender animais serão banidos do site.
          


        </article>
    </section>

</div> <!-- Fim do container principal -->

