<div class="container container-fluid teste">


    <section class="pagina-padrao fundo-branco mb-3 mb-3 py-4 px-5">

        <div class="m-auto w-75 card-cinza login p-4">

            <h2 class="h2-header-menor mb-5">Chega mais e cadastre-se! Aqui todo mundo é amigo</h2>


            <form class="form-group was-validated" [formGroup]="usuarioGroup" (ngSubmit)="adicionarUsuario()">
                <div class="row mb-3">

                    <div class="col-md-3 form-lateral">

                        <strong>Como podemos te ajudar? <span class="asteristico-obrigatorio">*</span></strong>
                        <br>
                        (marque quantas opções desejar)
                        
                    </div>

                    <div class="col-md-9">

                            <input type="checkbox" id="quero-divulgar-bixos" name="" required>
                            <label for="quero-divulgar-bixos">Quero divulgar bichinhos fofos para adoção</label>

                            <br>

                            <input type="checkbox" id="quero-adotar" name="" required>
                            <label for="quero-adotar">Quero adotar um cachorro ou gato</label>

                            <br>

                            <input type="checkbox" id="quero-dicas" name="" required>
                            <label for="quero-dicas">Quero receber dicas de cuidados com meu pet</label>

                            <br>

                            <input type="checkbox" id="quero-clube-do-amigo" name="" required>
                            <label for="quero-clube-do-amigo">Quero fazer parte do <a href="clube-do-amigo.html">Clube do Amigo </a> </label>

                        
                    </div>

                </div>


                <div class="row mb-3">

                    <div class="col-md-3 form-lateral">

                        <label for="nome">
                            <strong>Seu nome<span class="asteristico-obrigatorio">*</span></strong>
                        </label>
                        
                    </div>

                    <div class="col-md-9">
                        <input type="text" id="nome" name="" class="form-control" placeholder="Digite seu nome" formControlName="username" required>
                    </div>
                    
                </div>

                <div class="row mb-3">

                    <div class="col-md-3 form-lateral">

                        <label for="numero-celular">
                            <strong>Celular<span class="asteristico-obrigatorio">*</span></strong>

                        </label>
                        
                    </div>

                    <div class="col-md-9 mb-3">
                        <input type="text" id="numero-celular" name="" class="form-control" required>
                    </div>
                    
                </div>


                <div class="row mb-3">

                    <div class="col-md-3 form-lateral">

                        <label for="email">
                            <strong>E-mail<span class="asteristico-obrigatorio">*</span></strong>

                        </label>
                        
                    </div>

                    <div class="col-md-9 mb-3">
                        <input type="text" id="email" name="" class="form-control" placeholder="Digite seu e-mail" formControlName="email" required>
                    </div>
                    
                </div>

                <div class="row mb-3">

                    <div class="col-md-3 form-lateral">

                        <label for="email-confirmacao">
                            <strong>E-mail (de novo)<span class="asteristico-obrigatorio">*</span></strong>

                        </label>
                        
                    </div>

                    <div class="col-md-9 mb-3">
                        <input type="text" id="email-confirmacao" name="" class="form-control" placeholder="Confirme seu nome" required>
                    </div>
                    
                </div>

                <div class="row mb-3">

                    <div class="col-md-3 form-lateral">

                        <label for="endereco-estado">
                            <strong>Estado<span class="asteristico-obrigatorio">*</span></strong>

                        </label>
                        
                    </div>

                    <div class="col-md-9 mb-3">
                        <select class="form-control" id="endereco-estado">

                                <option>Estado</option>
                                <option>Acre</option>
                                <option>Alagoas</option>
                                <option>Amapá</option>
                                <option>Amazonas</option>
                                <option>Bahia</option>
                                <option>Ceará</option>
                                <option>Distrito Federal</option>
                                <option>Espírito Santo</option>
                                <option>Goiás</option>
                                <option>Maranhão</option>
                                <option>Mato Grosso</option>
                                <option>Mato Grosso do Sul</option>
                                <option>Minas Gerais</option>
                                <option>Pará</option>
                                <option>Paraíba</option>
                                <option>Paraná</option>
                                <option>Pernambuco</option>
                                <option>Piauí</option>
                                <option>Rio de Janeiro</option>
                                <option>Rio Grande do Norte</option>
                                <option>Rio Grande do Sul</option>
                                <option>Rondônia</option>
                                <option>Roraima</option>
                                <option>Santa Catarina</option>
                                <option>São Paulo</option>
                                <option>Sergipe</option>
                                <option>Tocantins</option>
                            </select>
                    </div>
                    
                </div>

                <div class="row mb-3">

                    <div class="col-md-3 form-lateral">

                        <label for="endereco-cidade">
                            <strong>Cidade<span class="asteristico-obrigatorio">*</span></strong>

                        </label>
                        
                    </div>

                    <div class="col-md-9 mb-3">
                        <input type="text" id="endereco-cidade" name="" class="form-control" placeholder="Digite sua cidade" required>
                    </div>
                </div>

                <div class="row mb-3">

                    <div class="col-md-3 form-lateral">

                        <label for="senha">
                            <strong>Senha<span class="asteristico-obrigatorio">*</span></strong>

                        </label>
                        
                    </div>

                    <div class="col-md-9 mb-3">
                        <input type="password" id="senha" name="" class="form-control"  placeholder="Digite sua senha" formControlName="password" required>
                    </div>
                </div>


                <div class="row mb-3">

                    <div class="col-md-3 form-lateral">

                        <label for="confirmacao-senha">
                            <strong>Confirmação da senha<span class="asteristico-obrigatorio">*</span></strong>

                        </label>
                        
                    </div>

                    <div class="col-md-9 mb-3">
                        <input type="password" id="confirmacao-senha" name="" class="form-control"  placeholder="Confirme sua cidade" required>
                    </div>
                </div>

                <input type="radio" id="termos-uso" name="" required>
                <label for="termos-uso" class="ml-3"> Você concorda com os nossos <a href="#">termos de uso</a> ?</label>

                <button type="submit" class="btn btn-primary d-block mt-3 mx-auto">Cadastrar</button>

            </form>
        </div>	

    </section>


</div> <!-- Fim do container principal -->