<footer>

    <div class="container">
        <div class="row ml-4">
            <div class="col-sm-3">
                <h4 class="header-branco">Quer um amigo?</h4>

                <ul>
                    <li>Adoção responsável</li>
                    <li>Procure seu amigo</li>
                    <li>Inspire-se</li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h4 class="header-branco">Melhores amigos</h4>

                <ul>
                    <li>Dicas e cuidados</li>
                    <li>Guarda responsável</li>
                    <li>Não perca seu amigo</li>
                </ul>
                    
            </div>


            <div class="col-sm-3">
                <h4 class="header-branco">Quem somos</h4>

                <ul>
                    <li>Sobre nós</li>
                    <li>Perguntas frequentes</li>
                    <li>Fale conosco</li>
                    <li>Política de Privacidade</li>
                    <li>Termos de uso</li>
                </ul>
                    
            </div>

            <div class="col-sm-3">
                <img src="assets/logo-adopet.svg" width="140px" height="45.37px">
                <br> <br>
                <span id="email" class="header-branco font-weight-bold">FALE@ADOPET.COM.BR</span>

            </div>
         </div>

     </div>
    
</footer>