<div class="container container-fluid">

    <div class="row mt-3 mb-3">  <!-- Início container de 2 divs -->
    
        <section id="postagens" class="col-7">
            <article class="cartao-postagens">

                <div class="cartao">
                    <img src="assets/Blog/capa-postagens/teste.jpg">
                    <h2>5 Dicas para controlar a ansiedade do seu cão em meio a pandemia</h2>

                    <div>
                        <span class="postagens-cabecalho postagens-data"></span>
                        <span class="postagens-cabecalho postagens-categoria"></span>
                    </div>
                    <p>
                        Estamos entrando no segundo ano da pandemia e não está fácil para ninguém. Mas você já pensou que para os nossos amigos caninos que não fazem ideia do porquê estamos tanto tempo em casa e passeando cada vez menos na rua ou parquinho, os sentimentos podem estar confusos também?

                        Saber controlar a ansiedade do seu amigo em meio à pandemia é tão importante quanto cuidar da sua saúde mental e de toda a família.
                    </p>
                    <a class="btn btn-outline-primary" href="">Leia mais</a>
                </div>
                
            </article>

            <button class="d-flex veja-mais btn btn-primary m-auto">
                Veja outras postagens
            </button>
        </section>

        <aside id="conteudo-lateral" class="col-5">

            <div class="cartao"> <!-- Início sidebar -->
                <h3>Encontre as postagens por categorias</h3>
                <div>
                    <a href="#"> <h4>Categoria: Cuidados com o seu pet</h4> </a>
                    <a href="#"> <h5>Brinquedos mais usados por gatos e cães</h5> </a>
                    <a href="#"> <h5>5 Dicas para controlar a ansiedade do seu cão em meio a pandemia</h5> </a>
                    <a href="#"> <h5>A importância de levar seu pet para passear</h5> </a>
                </div>

                <div>
                    <a href="#"> <h4>Categoria: Hiegiene</h4> </a>
                    <a href="#"> <h5>Dicas de higienização</h5> </a>
                    <a href="#"> <h5>Como reduzir o odor - gatos e cães</h5> </a>
                    <a href="#"> <h5>Educando seu pet</h5> </a>
                </div>

                <div>
                    <a href="#"> <h4>Categoria: Escolha ideal do pet</h4> </a>
                    <a href="#"> <h5>Raças ideais para apartamento</h5> </a>
                    <a href="#"> <h5>Raças mais energéticas</h5> </a>
                    <a href="#"> <h5>Não tenha um cachorro se você não tem tempo para ele.</h5> </a>
                </div>

            </div> <!-- Fim sidebar -->

            <section id="redes-sociais" class="cartao">
                <h3 class="cor-destaque" style="color: hsl(330, 100%, 45%); font-weight: 900;">Siga-nos nas redes sociais</h3>
                 

                 <div class="redes-sociais">
                    <a href="#">	
                        <span><img src="assets/icones/redes-sociais/facebook.svg"></span> 
                    </a>
                    
                    <a href="#">	
                        <span><img src="assets/icones/redes-sociais/twitter.svg"></span> 
                    </a>

                    <a href="#">	
                        <span><img src="assets/icones/redes-sociais/instagram.svg"></span> 
                    </a>
                </div>
            </section>

        </aside>


    </div> <!-- Fim container de 2 divs -->
        
</div>