<!-- Início do cabeçalho -->
<header class="mb-3 ">				
    <div class="row ml-2">
        <a class="col navbar-brand" >
            <img src='/assets/logo-adopet.svg' routerLink="/home">
            <h1>Adopet</h1>
        </a>       
        <span class=" d-flex col-5 mr-3  justify-content-end">
            <button class="h-75 ml-2 my-2 btn btn-sm btn-light" ><a routerLink="/cadastro"> <strong>Cadastre-se</strong></a></button>
            <button class="h-75 ml-2 my-2 btn btn-sm btn-light" ><a routerLink=""> <strong>Login</strong></a></button>
        </span>
    </div>
    <nav class="navbar navbar-dark	row navbar-expand-lg">
        <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navegacao">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navegacao " class="collapse navbar-collapse">
            <ul class="navbar-nav ml-2">  
            <li class="nav-item mr-2 col dropdown">
                <div ngbDropdown class="d-inline-block">
                  <span class="dropdown-toggle text-light" id="dropdownBasic1" data-toggle="dropdown" ngbDropdownToggle>Quero ajudar</span>
                  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
                      <a routerLink="/home" href="#" class="nav-link dropdown-item text-dark px-3" routerLinkActive="active">Seja um associado do clube do amigo</a>
                      <a href="#" class="nav-link dropdown-item text-dark px-3">Seja uma empresa amiga dos animais</a>
                      <a href="#" class="nav-link dropdown-item text-dark px-3">Outras formas de ajudar</a>
                      <a href="#" class="nav-link dropdown-item text-dark px-3">Compre de nossos parceiros</a>
                  </div>
                </div>
              </li>
    
              <li class="nav-item mr-2 col dropdown">
                <div ngbDropdown class="d-inline-block">
                  <span class="dropdown-toggle text-light" id="dropdownBasic1" data-toggle="dropdown" ngbDropdownToggle>Sobre nós</span>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
                      <a  routerLink="/oqueadopet"  href="#" class="nav-link dropdown-item text-dark px-3" routerLinkActive="active">O que é a Adopet?</a>
                      <a routerLink="/prestacaoContas" href="#" class="nav-link dropdown-item text-dark px-3"routerLinkActive="active">Prestação de contas</a>
                    </div>
                </div>  
              </li>	
                    <li class="nav-item mr-2 col"><a routerLink="">Quero adotar</a></li>
                    <li class="nav-item mr-2 col"><a routerLink="/anuncio">Quero anunciar</a></li>
                    <li class="nav-item mr-2 col"><a routerLink="/blog">Blog</a></li>

                    <li class="nav-item mr-2 col">
                        <a href="" class="nav-link">Nossos parceiros</a>
                    </li>
                    <li class="nav-item mr-2 col">
                        <a href="" class="nav-link">Avalie-nos</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline h-75 ml-auto mr-3">
                    <input class="form-control mr-2 d-inline" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-success my-2 search-button ml-auto mr-1" type="submit">
                          <img src="assets/icones/search.svg">
                      </button> 
            </form>

    </nav>

</header>


<!-- Fim do cabeçalho -->