

        <div class="container">
            <div class="text-center mt-4 mb-5">

                <h2>Nome - Cão</h2>

                <p class="localizacao-pet"> Localização</p>

                <p class="data-publicacao-anuncio">data </p>

                <p class="proprietario-anuncio">nome do proprietario</p>

            </div>

            <div class="row">

                <div class="col-md-7">
                    

                    <div id="carousel-controles" class="carousel slide mb-4" data-ride="carousel">
                        <div class="carousel-inner rounded">
                            
                            <div class="carousel-item active">
                                <img src='assets/logo_feira' class="img-fluid">
                            </div>

                            <div class="carousel-item">
                                <img src='assets/logo_love_pets' class="img-fluid">
                            </div>

                            <div class="carousel-item">
                                <img src='assets/logo_pet_hotel' class="img-fluid">
                            </div>

                            <!-- Controles - indicadores -->

                            <a href="#carousel-controles" class="carousel-control-prev" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>

                            <a href="#carousel-controles" class="carousel-control-next" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>
                    </div>



                </div>

                <div class="col-md-5">

                    <div class="redes-sociais mb-5 border rounded p-2">

                        <h3 class="h3-header-menor text-center mb-0 cor-destaque">Redes sociais</h3>

                        <div class="d-flex justify-content-center">
                            <a href="#">	
                                <span ><img src='assets/icones/redes-sociais/facebook.svg'></span> 
                            </a>
                            
                            <a href="#">	
                                <span><img src='assets/icones/redes-sociais/twitter.svg'></span> 
                            </a>

                            <a href="#">	
                                <span><img src='assets/icones/redes-sociais/instagram.svg'></span> 
                            </a>
                        </div>
                    </div>


                    <div class="mb-4 border rounded p-2">

                        <h3 class="text-center">Dados gerais do pet:</h3>

                        <ul class="ml-5">
                            <li class="idade mb-1">idade</li>
                            <li class="genero mb-1">genero</li>
                            <li class="porte">Porte</li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>

            <div class="row">

                <div class="col-md-5 p-3 mb-4 border rounded mr-4">
                    <h3 class="h3-header-menor historia-pet">A história do >>nome do pet</h3>

                    <p> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco século.</p>
                </div>

                <div class="col-md-3 p-3 mb-4 border rounded mr-4">
                    <h3 class="h3-header-menor">Personalidade:</h3>

                    <p> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos.</p>
                </div>

                <div class="col-md-3 p-3 border rounded ">
                    <h3 class="h3-header-menor">Observações</h3>

                    <p> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI</p>
                </div>
                
            </div>
            
        </div>
        
