

        <div class="container">
            <div class="text-center mt-4 mb-5">

                <h2>{{anuncio.nome}}</h2>

                <h2>{{anuncio.petName}}</h2>
                <h2>{{anuncio.localizacao}}</h2>

            </div>

            <div class="row">
                <div class="col-md-7">
                    <div id="carousel-controles" class="carousel slide mb-4" data-ride="carousel">
                        <div class="carousel-inner rounded">
                            
                            <div class="carousel-item active">
                                <img src={{anuncio.fotos[0].foto}} class="img-fluid">
                            </div>

                            <div class="carousel-item">
                                <img src={{anuncio.fotos[1].foto}} class="img-fluid">
                            </div>

                            <div class="carousel-item">
                                <img src={{anuncio.fotos[2].foto}} class="img-fluid">
                            </div>

                            <!-- Controles - indicadores -->

                            <a href="#carousel-controles" class="carousel-control-prev" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>

                            <a href="#carousel-controles" class="carousel-control-next" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>
                    </div>

                </div>

                <div class="col-md-5">

                    <div class="redes-sociais mb-5 border rounded p-2">

                        <h3 class="h3-header-menor text-center mb-0 cor-destaque">Redes sociais</h3>

                        <div class="d-flex justify-content-center">
                            <a href="#">	
                                <span ><img src='assets/icones/redes-sociais/facebook.svg'></span> 
                            </a>
                            
                            <a href="#">	
                                <span><img src='assets/icones/redes-sociais/twitter.svg'></span> 
                            </a>

                            <a href="#">	
                                <span><img src='assets/icones/redes-sociais/instagram.svg'></span> 
                            </a>
                        </div>
                    </div>


                    <div class="mb-4 border rounded p-2">

                        <h3 class="text-center">Dados gerais do pet:</h3>

                        <ul class="ml-5">
                            <li class="idade mb-1">Data de nascimento : {{anuncio.dataNascimento}}</li>
                            <li class="genero mb-1">Sexo : {{anuncio.sexo}}</li>
                            <li class="porte">Porte : {{anuncio.porte}}</li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>

            <div class="row">

                <div class="col-md-5 p-3 mb-4 border rounded mr-4">
                    <h3 class="h3-header-menor historia-pet">A história do pet: {{anuncio.nomedopet}} </h3>

                    <p> {{anuncio.historia}}</p>
                </div>

                <div class="col-md-3 p-3 mb-4 border rounded mr-4">
                    <h3 class="h3-header-menor">Personalidade:</h3>

                    <p> {{anuncio.personalidade}}</p>
                </div>

                <div class="col-md-3 p-3 border rounded ">
                    <h3 class="h3-header-menor">Observações</h3>

                    <p>{{anuncio.observacoes}}</p>
                </div>
                
            </div>
            
        </div>
        
