<div class="container container-fluid teste">
    <section class="pagina-padrao fundo-branco mb-3 mb-3 py-4 px-5">
        <article>
            <h2>Prestação de Contas</h2>

            <p>Através do Adopet, já ajudamos milhares de cães e gatos de todo o Brasil a conseguirem uma família para chamar de sua! Mas para fazer isso acontecer, temos despesas mensais para manter o site no ar, orientar os protetores, engajar adotantes, manter o blog atualizado e cumprir obrigações contábeis por sermos uma ONG.</p>


            <h3>Confira abaixo como os recursos se distribuem:</h3>

            <p>
                <img src="assets/paginas/sobre-nos/prestacao-de-contas1.jpg" width="47%">
                <img src="assets/paginas/sobre-nos/prestacao-de-contas2.jpg" width="47%">
            </p>

            <h3 style=" margin-bottom: 20px;">Como ajudar</h3>

            <h4>Doações recorrentes:</h4>

            <p>
                Você pode fazer parte desta rede do bem ao contribuir financeiramente para que este projeto continue acontecendo. E se quiser acompanhar tudo o que vem sendo feito, a gente te manda um boletim mensal por email com um resumo das nossas atividades.  

                <br> <br>

                É só escolher abaixo: com quanto você quer contribuir?
            </p>

            <a href="#">
                <img src="assets/paginas/sobre-nos/prestacao-de-contas3.jpg" style=" width: 98%">
            </a>



            <h4 style=" margin-top: 25px;">Doações pontuais</h4>
            <h4 class="sem-indentacao">
                Se preferir fazer uma doação pontual, você pode fazer o depósito diretamente em conta: <br>


                <div class="bloco-texto-entrelinha">
                    Banco teste<br>
                    Agência: 3118-6  <br>
                    Conta-corrente: 42305-x  <br>
                    Associação Amigo Não se Compra  <br>
                    CNPJ: 28.551.625/0001-60  <br>
                </div>

                Já dá pra ver os rabinhos aqui abanando de alegria. Obrigado!
            </h4>


        </article>
    </section>
</div> 